[submodule "repos/cudf"]
	path = repos/cudf
	url = https://github.com/rapidsai/cudf.git
	branch = branch-21.12
[submodule "repos/cuml"]
	path = repos/cuml
	url = https://github.com/rapidsai/cuml.git
	branch = branch-21.12
[submodule "repos/cugraph"]
	path = repos/cugraph
	url = https://github.com/rapidsai/cugraph.git
	branch = branch-21.12
[submodule "repos/cuxfilter"]
	path = repos/cuxfilter
	url = https://github.com/rapidsai/cuxfilter.git
	branch = branch-21.12
[submodule "repos/cuspatial"]
	path = repos/cuspatial
	url = https://github.com/rapidsai/cuspatial.git
	branch = branch-21.12
[submodule "repos/clx"]
	path = repos/clx
	url = https://github.com/rapidsai/clx.git
	branch = branch-21.12
[submodule "repos/cusignal"]
	path = repos/cusignal
	url = https://github.com/rapidsai/cusignal.git
	branch = branch-21.12
[submodule "repos/xgboost"]
	path = repos/xgboost
	url = https://github.com/rapidsai/xgboost-conda.git
	branch = branch-21.12
